﻿@model WebApplication.Models.CompanyData
@{
    int? month = ViewBag.Month;
    int? quartal = ViewBag.Quartal;
    string[] NameCompany = null; 
    if (!(ViewBag.NameCompany == null))
    {
        NameCompany = ViewBag.NameCompany;
    }

}
<form method="post" action="/Home/Submite" enctype="multipart/form-data" id="maimForm">
    <div class="row">
        <div class="col-lg-4">
            <div class="form-group">
                <label for="Company Name">Company Name</label>
                <input required type="text" data-provide="typeahead" id="typeahead" class="form-control" placeholder="Company Name" name="companyName" value="@Model.companyName">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="Company-VAT-Number">Company VAT Number</label>
                <input required type="text" class="form-control" placeholder="Company VAT Number" id="Company-VAT-Number" name="companyVATNumber" value="@Model.companyVATNumber">
            </div>
        </div>
        <div class="col-lg-2 col-lg-offset-1">
            <div class="form-group">
                <label for="month">Month</label>
                <input type="text" class="form-control" name="month" id="month" value="@month" disabled>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="form-group">
                <label for="quartal">Quartal</label>
                <input type="text" class="form-control" name="quartal" id="quartal" value="@quartal" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label for="type">Type</label>

            <select class="selectpicker" data-width="100%" id="type">
                <option>Normal</option>
                <option>Extraordinary</option>
            </select>
        </div>
        <div class="col-lg-2">
            <label for="priority">Priority</label>
            <select class="selectpicker" data-width="100%" id="priority" name="priority">
                <option @(Model.priority == "Normal"? "selected" : "")>Normal</option>
                <option @(Model.priority == "Urgent" ? "selected" : "")>Urgent</option>
            </select>
        </div>
        <div class="col-lg-3">
            <label for="delivery-date">Delivery Date</label>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker'>
                    <input type='text' class="form-control" id="delivery-date">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            @if (!String.IsNullOrWhiteSpace((string)(TempData["Error"])))
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    @Html.Raw(TempData["Error"].ToString())
                </div>
                TempData["Error"] = null;
            }
            <div class="form-inline">
                <input type="file" name="exelfile" class="file-inputs" data-filename-placement="inside" title="Upload file">
                <input type="submit" style="display: none" id="submite-button">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px"></div>
    <button type="button" class="btn btn-info btn-sm"  data-toggle="collapse" data-target="#moreDetails">Details (Show/Hide)</button>
    <div id="moreDetails" class="collapse">
         <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="company-street">Company street</label>
                    <input type="text" class="form-control" name="companyStreet" id="company-street" value="@Model.companyStreet">
                    <label for="company-zip">Company Zip</label>
                    <input type="text" class="form-control" name="companyZip" id="company-zip" value="@Model.companyZip">
                    <label for="company-state">Company state</label>
                    <input type="text" class="form-control" name="companyState" id="company-state" value="@Model.companyState">
                    <label for="company-region">Company region</label>
                    <input type="text" class="form-control" name="companyRegion" id="company-region" value="@Model.companyRegion">
                    <label for="company-email">Company email</label>
                    <input type="text" class="form-control" name="companyEmail" id="company-email" value="@Model.companyEmail">
                    <label for="company-phone">Company phone</label>
                    <input type="text" class="form-control" name="companyPhone" id="company-phone" value="@Model.companyPhone">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="contact-person-name">Contact person name</label>
                    <input type="text" class="form-control" name="contactPersonName" id="contact-person-name" value="@Model.contactPersonName">
                    <label for="contact-person-phone">Contact person phone</label>
                    <input type="text" class="form-control" name="contactPersonPhone" id="contact-person-phone" value="@Model.contactPersonPhone">
                    <label for="contact-person-email">Contact person email</label>
                    <input type="text" class="form-control" name="contactPersonEmail" id="contact-person-email" value="@Model.contactPersonEmail">
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    $(function () {
        var companyNames = [];
        @if (NameCompany != null)
        {
            foreach (var n in NameCompany)
            {
                @:companyNames.push("@n");
            }
        }
        var substringMatcher = function (strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                matches = [];

                substrRegex = new RegExp(q, 'i');

            $.each(strs, function (i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };
        $('#datetimepicker').datetimepicker();
        $('.selectpicker').selectpicker();
        $('input[type=file]').bootstrapFileInput();
        $('#typeahead').typeahead({
            minLength: 1,
            hint: false,
        },
        {
            name: 'companyNames',
            source: substringMatcher(companyNames)
        }
        );
        $('#typeahead').bind('typeahead:select', function (ev, suggestion) {
            $.ajax({
                url: "/Home/AutoComplete",
            type: "POST",
            dataType: "text",
            data: {
                    companyName: suggestion
            }
            }).done(function (partialViewResult) {
                    $("#maimForm").html(partialViewResult);
                }).fail(function () {
                    console.log("Fail");
                });
            });
        });
</script>





